extends layout-angular

block content
  .container-fluid(ng-controller='AdminCtrl', admin)
    h1 Admin

    ul
      li
        a#sync(href='#') Rebuild base
      li
        a#fetchUsers(href='#') Fetch users
      li
        a#createTeam(href='#') Create team
      //- li
      //-   a#setprojects(href='http://0.0.0.0:5959', target='_BLANK') Look Nodetime
