block common
  #common(ng-controller='CommonCtrl')
    #systemNotif(ng-repeat='message in messages')
      p {{message.type}} Progress:
        span.pull-right.strong {{message.text}}%
          .progress
            .bar(style='width: {{message.text}}%;')
