extends layout

block content
  .container-fluid
      .row-fluid
          .span12
            #content
              table#extract
                tr
                  th nom sous projet
                  th Num Tache
                  th Nom
                  th Date demande + user name
                  th date 1er post + user name
                  th temps passé
                  th date 1er status "à valider"
                  th date 1er status "livré"
                  th date 1er status "à livrer"
                  th date 1er status "fermé"
