extends layout

block content
  .container-fluid
      .row-fluid
          .span12
            #content
              table#extract
                thead
                  tr
                    th nom sous projet
                    th Num Tache
                    th Nom
                    th Date demande
                    th Demande faite par
                    th delai 1er post
                    th date 1er post
                    th user 1er post
                    th delai "à valider"
                    th date "à valider"
                    th delai "à livrer"
                    th date "à livrer"
                    th delai "livré"
                    th date "livré"
                    th delai "fermé"
                    th date "fermé"
                    th temps passé
                  tbody
