extends layout

block content
  .container-fluid
      .row-fluid
          .span12
            #content
              table#extract
                thead
                  tr
                    th nom sous projet
                    th Num Tache
                    th Nom
                    th Date demande
                    th Demande faite par
                    th(colspan=2) delai 1er post
                    th date 1er post
                    th user 1er post
                    th(colspan=2) delai "à valider"
                    th date "à valider"
                    th(colspan=2) delai "à livrer"
                    th date "à livrer"
                    th(colspan=2) delai "livré"
                    th date "livré"
                    th(colspan=2) delai "fermé"
                    th date "fermé"
                    th(colspan=2) delai "rejeté"
                    th date "rejeté"
                    th temps passé
                  tbody
