block header
    header
        div(class='topbar')
            div(class='fill')
                div(class='container')
                    //a(class='brand', href='http://github.com/addyosmani/jquery-ui-bootstrap')='jQuery UI Bootstrap'
                    span(class='brand')='skProject'
                    ul.nav
                        li
                            a#sync(href='#') Sync
                        //li
                            //a#getusers(href='#') Get Users
                        //li
                            //a(href='http://twitter.com/addyosmani') Contact
                        form.pull-right(action='')
