block header
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
        a.brand(href='#') RealTeam
        ul.nav
          if admin
            li
              a(href='/admin') Admin
          li
            a(href='/') Team
          li
            a(href='href="#/projects"') Projects

        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | #{login}
              b.caret
            ul.dropdown-menu
              li
                a(href='/account') account
              li
                a(href='/logout') logout
