block header
  .navbar.navbar-fixed-top
      .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='#') skProject
            .nav-collapse
              ul.nav
                  li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                          | Admin
                          b.caret
                        ul.dropdown-menu
                          li
                              a#sync(href='#') Rebuild base
                          li
                              a#setusers(href='#') Create users
                          li
                              a#setprojects(href='#') Create projects
                  li.divider-vertical
                  li
                      a(href='/') Team
                  li
                      a(href='/dashboard') Dashboard

                .btn-group.pull-right
                  a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                    | #{username}
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/account') account
                    li
                      a(href='/logout') logout

            //
              ul.nav.pull-right
                li
                  | Logged in as
                  a(href='/account') #{username}
                li
                  a(href='/logout') logout
            //
              /.nav-collapse 
