block header
    header
        div(class='topbar')
            div(class='fill')
                div(class='container')
                    a(class='brand', href='http://github.com/addyosmani/jquery-ui-bootstrap')='jQuery UI Bootstrap'
                    ul.nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='http://github.com/addyosmani/jquery-ui-bootstrap/issues') Feedback/Issues
                        li
                            a(href='http://twitter.com/addyosmani') Contact
                        form.pull-right(action='')
