extends layout

block content
    .container
        .content
            .page-header
              h1
                | jQuery UI Bootstrap
                small A Bootstrap-themed kickstart for jQuery UI widgets (v0.14)
