extends layout-ember

block content
  .container-fluid
      .row-fluid
          .span12
            #sort-by.btn-group
                a.btn(href='#name') name
                a.btn(href='#count') count
            #content
