extends layout

block content
  .container-fluid
      .row-fluid
          .span4
            .well.sidebar-nav
              ul.nav.nav-list
            //
              /.well 
          //
            /span
          .span8
            .content
