!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    //Dependances
    //link(rel='stylesheet', href='/css/dependances/custom-theme/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    //Third-party
    //link(rel='stylesheet', href='/third-party/jQuery-UI-Date-Range-Picker/css/ui.daterangepicker.css')
    //link(rel='stylesheet', href='/third-party/jQuery-UI-FileInput/css/enhanced.css')
    //link(rel='stylesheet', href='/third-party/wijmo/css/jquery.wijmo-open.1.5.0.css')
    //link(rel='stylesheet', href='/css/dependances/demo.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    //script(src='js/libs/modernizr-2.0.6.min.js')
  body

    // - include template-extract-debug
    include template-extract

    include header-extract

    block content

    block footer
        footer
            //
                static dialog
            #dialog-message(title='Modal Dialog')
            //
                end static dialog
        //Dependances
        //script(defer, src='/js/dependances/jquery-1.7.1.min.js')
        //script(defer, src='/js/dependances/jquery-ui-1.8.16.custom.min.js')
        script(defer, src='/js/libs/socket.io.js')
        script(defer, src='/js/libs/jquery-1.7.1.min.js')
        script(defer, src='/js/libs/jquery.scrollTo-1.4.2-min.js')
        //script(defer, src='/js/libs/underscore-min.js')
        //script(defer, src='/js/libs/backbone-min.js')
        //script(defer, src='/js/libs/ember-0.9.6.min.js')
        //script(defer, src='/js/libs/ember-0.9.6.js')
        script(defer, src='/js/libs/ICanHaz.min.js')
        //script(defer, src='/js/libs/jquery.isotope.min.js')
        script(defer, src='/js/libs/bootstrap.min.js')
        script(defer, src='/js/libs/moment.min.js')
        script(defer, src='/js/libs/moment_fr.min.js')

        //!= js('app')
        //script(defer, src='/js/app.js')
        //script(defer, src='/js/app2.js')
        script(defer, src='/js/appExtract.js')

        //script(defer, src='/js/utils.js')
        //script(defer, src='/js/models/models.js')
        //script(defer, src='/js/collections.js')
        //script(defer, src='/js/views/views.js')
        //if lt IE 7
          script(defer, src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
          script(defer)
            window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
