extends layout-angular

block content
  .container
    .row
      .well.span6.offset3
        p Change password #{firstname} #{lastname}

        if error
          p Error : #{error}

      form.fullForm.span6.offset3.well(method="post", action="/update-user-password")
        .row-fluid
          .span6
            fieldset
              label(for="password") password
              input(type="password", id="password", name="password", placeholder="Password", required, value="")

          .span6
            fieldset
              label(for="confirmPassword") confirm password
              input(type="password", id="confirmPassword", name="confirmPassword", placeholder="Confirm password", required, value="")

          button(type="submit", class="btn  btn-primary") Submit
          a.btn.btn-primary(href='/account') Cancel
