extends layout-angular

block content
  p Change password #{firstname} #{lastname}

  if error
    p Error : #{error}

  form(method="post", action="/update-user-password")
    label password
      input(type="password", name="password", placeholder="Password", required, value="")
    label confirm password
      input(type="password", name="confirmPassword", placeholder="Confirm password", required, value="")
      input(type="submit")

  a(href='/account') Cancel
