script(id="issue", type="text/html")
  tr
    td.nomSousProjet  {{nomSousProjet}}
    td.numTache  {{numTache}}
    td.nomTache  {{nomTache}}
    td.dateDemande  {{dateDemande}}
    td.userDateDemande {{userDateDemande}}
    td.delaiFirstPost {{delaiFirstPost}}
      br
      | {{delaiFirstPostServ}}
    td.dateFirstPost {{dateFirstPost}}
      br
      | {{dateFirstPostServ}}
    td.userDateFirstPost {{userDateFirstPost}}
      br
      | {{userDateFirstPostServ}}
    td.delaiAValider {{delaiAValider}}
      br
      | {{delaiAValiderServ}}
    td.dateAValider {{dateAValider}}
      br
      | {{dateAValiderServ}}
    td.delaiALivrer {{delaiALivrer}}
      br
      | {{delaiALivrerServ}}
    td.dateALivrer {{dateALivrer}}
      br
      | {{dateALivrerServ}}
    td.delaiLivre {{delaiLivre}}
      br
      | {{delaiLivreServ}}
    td.dateLivre {{dateLivre}}
      br
      | {{dateLivreServ}}
    td.delaiFerme {{delaiFerme}}
      br
      | {{delaiFermeServ}}
    td.dateFerme {{dateFerme}}
      br
      | {{dateFermeServ}}
    td  {{time}}
