script(id="issue", type="text/html")
  tr
    td.nomSousProjet  {{nomSousProjet}}
    td.numTache  {{numTache}}
    td.nomTache  {{nomTache}}
    td.dateDemande  {{dateDemande}}
    td.userDateDemande {{userDateDemande}}
    td.delaiFirstPost
      | {{delaiFirstPost}}
    td.delaiFirstPostJourOuvre
      | {{delaiFirstPostJourOuvre}}
    td.dateFirstPost
      | {{dateFirstPost}}
    td.userDateFirstPost
      | {{userDateFirstPost}}
    td.delaiAValider
      | {{delaiAValider}}
    td.delaiAValiderJourOuvre
      | {{delaiAValiderJourOuvre}}
    td.dateAValider
      | {{dateAValider}}
    td.delaiALivrer
      | {{delaiALivrer}}
    td.delaiALivrerJourOuvre
      | {{delaiALivrerJourOuvre}}
    td.dateALivrer
      | {{dateALivrer}}
    td.delaiLivre
      | {{delaiLivre}}
    td.delaiLivreJourOuvre
      | {{delaiLivreJourOuvre}}
    td.dateLivre
      | {{dateLivre}}
    td.delaiFerme
      | {{delaiFerme}}
    td.delaiFermeJourOuvre
      | {{delaiFermeJourOuvre}}
    td.dateFerme
      | {{dateFerme}}
    td.delaiRejete
      | {{delaiRejete}}
    td.delaiRejeteJourOuvre
      | {{delaiRejeteJourOuvre}}
    td.dateRejete
      | {{dateRejete}}
    td  {{time}}
