script(id="issue", type="text/html")
  tr
    td  {{nomSousProjet}}
    td  {{numTache}}
    td  {{nomTache}}
    td  {{dateDemande}} {{userDateDemande}}
    td  {{dateFirstPost}} {{userDateFirstPost}}
    td  {{time}}
    td  {{dateAValider}}
    td  {{dateLivre}}
    td  {{dateALivrer}}
    td  {{dateFerme}}
