script(id="issue", type="text/html")
  tr
    td.nomSousProjet  {{nomSousProjet}}
    td.numTache  {{numTache}}
    td.nomTache  {{nomTache}}
    td.dateDemande  {{dateDemande}}
    td.userDateDemande {{userDateDemande}}
    td.delaiFirstPost
      | {{delaiFirstPostServ}}
    td.delaiFirstPost
      | {{delaiFirstPostServJourOuvre}}
    td.dateFirstPost
      | {{dateFirstPostServ}}
    td.userDateFirstPost
      | {{userDateFirstPostServ}}
    td.delaiAValider
      | {{delaiAValiderServ}}
    td.delaiAValider
      | {{delaiAValiderServJourOuvre}}
    td.dateAValider
      | {{dateAValiderServ}}
    td.delaiALivrer
      | {{delaiALivrerServ}}
    td.delaiALivrer
      | {{delaiALivrerServJourOuvre}}
    td.dateALivrer
      | {{dateALivrerServ}}
    td.delaiLivre
      | {{delaiLivreServ}}
    td.delaiLivre
      | {{delaiLivreServJourOuvre}}
    td.dateLivre
      | {{dateLivreServ}}
    td.delaiFerme
      | {{delaiFermeServ}}
    td.delaiFerme
      | {{delaiFermeServJourOuvre}}
    td.dateFerme
      | {{dateFermeServ}}
    td  {{time}}
