script(id="issue", type="text/html")
  tr
    td.nomSousProjet  {{nomSousProjet}}
    td.numTache  {{numTache}}
    td.nomTache  {{nomTache}}
    td.dateDemande {{dateDemande}}
    td.userDateDemande {{userDateDemande}}
    td.delaiFirstPost {{delaiFirstPost}}
    td.dateFirstPost {{dateFirstPost}}
    td.userDateFirstPost {{userDateFirstPost}}
    td.delaiAValider {{delaiAValider}}
    td.dateAValider {{dateAValider}}
    td.delaiALivrer {{delaiALivrer}}
    td.dateALivrer {{dateALivrer}}
    td.delaiLivre {{delaiLivre}}
    td.dateLivre {{dateLivre}}
    td.delaiFerme {{delaiFerme}}
    td.dateFerme {{dateFerme}}
    td  {{time}}
