/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
body {
    /*padding-top: 60px;*/
    font-size: 12px;
    background: #222;
}

a,
a:visited {
    cursor: pointer;
    color: #0088cc;
}

.btn {
  color: #8B8B8B;
  text-shadow: 0 1px 1px #000;
  background-color: #242424;
  background-image: -moz-linear-gradient(top, #181818, #000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#181818), to(#000));
  background-image: -webkit-linear-gradient(top, #181818, #000);
  background-image: -o-linear-gradient(top, #181818, #000);
  background-image: linear-gradient(to bottom, #181818, #000);
  border: 1px solid #161616;
  border-color: #090909 #111 #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #272727;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.14);
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-shadow: 0 1px 1px #333;
  text-decoration: none;
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #181818, #242424);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#181818), to(#242424));
  background-image: -webkit-linear-gradient(top, #181818, #242424);
  background-image: -o-linear-gradient(top, #181818, #242424);
  background-image: linear-gradient(to bottom, #181818, #242424);
  /*
   *background-position: 0 0;
   *-webkit-transition: background-position 0.1s linear;
   *   -moz-transition: background-position 0.1s linear;
   *     -o-transition: background-position 0.1s linear;
   *        transition: background-position 0.1s linear;
   */
}

.nav {
    font-size: 12px;
}

ul.nav {
    font-size: 12px;
    margin-top: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar .brand {
    margin: 0;
    padding: 4px 20px 4px 0;
}

.navbar .nav {
    padding: 0;
    margin: 0;
}

.navbar .btn-group .dropdown-menu::after {
  border: none;
}

.navbar .navbar-inner {
  /*height: 29px;*/
  min-height: 29px;
}

.navbar .nav > li > a {
  padding: 4px 8px 4px;
}

.navbar .nav.projects > li > a {
  padding: 4px 8px 4px 18px;
}

.navbar .nav.projects > li > a.showChildren {
  padding: 4px 8px 4px;
  position: absolute;
}

.navbar .nav a.active,
.navbar .nav a.active:hover,
.navbar .nav a.active:focus {
  color: #FFF;
  background-color: #111;
  text-decoration: none;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav a.active,
.navbar .nav a.active:hover,
.navbar .nav a.active:focus {
  color: #21A8DB;
  background-color: #1B1B1B;
  -webkit-box-shadow: inset 0 0 14px 2px rgba(0, 0, 0, 0.65);
     -moz-box-shadow: inset 0 0 14px 2px rgba(0, 0, 0, 0.65);
          box-shadow: inset 0 0 14px 2px rgba(0, 0, 0, 0.65);
}

#loginForm {
  position: relative;
  top: 60px;
}

#loginForm h1 {
  margin-bottom: 20px;
}

#loginForm form {
}

#loginForm label {

}

#loginForm input {
  margin-bottom: 20px;
}

#loginForm button {
  position: relative;
  bottom: 0;
  right: 0;
}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav .navbar-inner {
    padding: 0;
}

.sidebar-nav ul {
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    list-style-type: none;
    /*padding-left: 5px;*/
    width: 100%;
    border-top: 1px solid rgba(121, 121, 121, 0.24);
    border-bottom: 1px solid rgba(0, 0, 0, 0.46);
    position: relative;
}

.sidebar-nav li li {
    padding-left: 20px;
    width: auto;
}

.sidebar-nav a {
  display: block;
}

.sidebar-nav a:visited {
  color: #33b5e5;
  text-decoration: none;
}

.select2-container {
  width: 100%;
}

.select2-choices {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.select2-dropdown-open .select2-choices {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.well {
  padding: 5px 10px;
  background-color: #000;
  border: none;
  color: #CCC;
  margin: 5px 0;
}

.well p {
  margin: 0;
}

.currentUser.well {
  margin: 0;
  padding: 8px 20px;
  height: 20px;
  top: 30px;
  width: 100%;
  position: fixed;
  z-index: 10001;
}

.currentUser input[type=text] {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #858585;
  border: 1px solid #CCC;
  color: #FFF;
}

#id {
  width: 40px;
}

#hours {
  width: 20px;
}

#minutes {
  width: 20px;
}

#message {
  width: 60%;
  text-align: left;
  padding: 0 4px;
}

.btn-group > .btn {
    font-size: 12px;
    padding: 1px 6px;
    line-height: 17px;
}


.container {
  margin-top: 70px;
}

body > .container-fluid {
    /*padding: 0;*/
    margin-top: 60px;
}

.row-fluid .span3 {
    width: 23%;
    /*margin: 1% !important;*/
}

.user {
    /*width: 250px;*/
    /*margin: 1% !important;*/
    /*float: left;*/
    /*position: relative;*/
    /*display: block;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user.span8 {
    width: 800px;
}

.user.span12 {
    width: 100%;
    margin: 10px 0 !important;
}

h1,
h2 {
  color: #999;
}

.user h1 {
  font-size: 2em;
}

.user h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
}

.user h2 a {
  margin: 0 10px;
}

.user h3 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 0;
}

.issue button {
  display: none;
  position: absolute;
}

.issue:hover button {
  display: inline-block;
}

.user .current {

}

.user .expand {
    float: right;
}

.user p {
    margin: 0;
}

.user .issues {
    margin: 10px 0 0;
    padding: 0;
    /*font-size: 13px;*/
    /*height: 0;*/
    /*display: none;*/
}

.user .issues ul {
    padding: 0;
    margin: 0;
}

.user .issues li {
    list-style-type: none;
    padding-left: 5px;
    line-height: 1.1em;
    margin-bottom: 1em;
    position: relative;
}

.user .issues li li {
    list-style-type: none;
    padding-left: 5px;
    line-height: 1.1em;
    margin-bottom: 4px;
}

.badge,
.issue span.priority,
.issue span.id,
.issue span.tracker,
.issue span.status,
.currentPriority.Bas,
.currentPriority.Normal,
.currentPriority.Haut,
.currentPriority.Urgent,
.currentPriority.Immédiat {
  padding: 1px 9px 2px;
  font-size: 1em;
  font-weight: normal;
  white-space: nowrap;
  color: #000;
  text-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
  background-color: #d5d3d3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.showIssues.badge:hover {
  color: #000;
}

.issues span.priority,
.currentPriority.Bas,
.currentPriority.Normal,
.currentPriority.Haut,
.currentPriority.Urgent,
.currentPriority.Immédiat {
  font-weight: bold;
  color: #ffffff;
  background-color: #999999;
}

.issues span.id {
 -webkit-border-radius: 9px 0 0 9px;
  -moz-border-radius: 9px 0 0 9px;
  border-radius: 9px 0 0 9px;

  padding: 1px 5px 2px 9px;
  margin-right: 1px;
}

.issues span.tracker {
 -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  padding: 1px 5px 2px;
  margin-right: 1px;
}

.issues span.status {
 -webkit-border-radius: 0 9px 9px 0;
  -moz-border-radius: 0 9px 9px 0;
  border-radius: 0 9px 9px 0;

  padding: 1px 9px 2px 5px;
  margin-right: 5px;
}

span.priority.Bas {
    background-color: #468847;
}

span.priority.Normal {
    background-color: #2D6987;
}

span.priority.Haut {
    background-color: #F89406;
}

span.priority.Urgent {
    background-color: #953B39;
}

span.priority.Immédiat {
    background-color: #1A1A1A;
}

.issue .info {
    margin: 10px 0;
}

.issue .project {
  margin-right: 5px;
}

.timer {
/*  display: none;
  position: absolute;
*/
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;

  /*top: -2px;*/
  padding: 1px 1px 3px 3px;
  /*margin-left: 5px;*/
  display: inline-block;
  margin-top: 6px;
}

/*.issue:hover .timer {
  display: inline-block;
}
*/

.timer span {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;

  background: #f5f5f5;
  top: -2px;
  padding: 0 2px 2px 4px;
  margin-left: 2px;
}

/*.issue .start,
.issue .pause,
.issue .stop {
  display: none;
}*/

/*.issue:hover .start,
.issue:hover .pause,
.issue:hover .stop {
  display: inline-block;
}*/

.timer .start:hover,
.timer .pause:hover,
.timer .stop:hover,
.timer .addtime:hover{
  cursor: pointer;
}

#addtime {
  top: 290px;
}

@media (max-width: 767px) {
  #addtime {
    top: 80px;
  }
}

.issueContent {
  display: none;
}

.issueContent p {
  margin-bottom: 10px;
}

.journal {
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/*
 *.ember-view {
 *  width: 100%;
 *  *zoom: 1;
 *}
 *.ember-view:before,
 *.ember-view:after {
 *  display: table;
 *  content: "";
 *}
 *.ember-view:after {
 *  clear: both;
 *}
 *.ember-view > [class*="span"] {
 *  float: left;
 *  margin-left: 2.127659574%;
 *}
 *.ember-view > [class*="span"]:first-child {
 *  margin-left: 0;
 *}
 *.ember-view > .span12 {
 *  width: 99.99999998999999%;
 *}
 *.ember-view > .span11 {
 *  width: 91.489361693%;
 *}
 *.ember-view > .span10 {
 *  width: 82.97872339599999%;
 *}
 *.ember-view > .span9 {
 *  width: 74.468085099%;
 *}
 *.ember-view > .span8 {
 *  width: 65.95744680199999%;
 *}
 *.ember-view > .span7 {
 *  width: 57.446808505%;
 *}
 *.ember-view > .span6 {
 *  width: 48.93617020799999%;
 *}
 *.ember-view > .span5 {
 *  width: 40.425531911%;
 *}
 *.ember-view > .span4 {
 *  width: 31.914893614%;
 *}
 *.ember-view > .span3 {
 *  width: 23.404255317%;
 *}
 *.ember-view > .span2 {
 *  width: 14.89361702%;
 *}
 *.ember-view > .span1 {
 *  width: 6.382978723%;
 *}
 */

th {
  text-align: center;
}

th,
td {
  border: solid 1px #AAA;
  padding: 3px 0.5em;
}

tr.excluded {
  background-color: #FD9C9C;
}

tr.excluded.directClose {
  background-color: #f00;
  font-weight: bold;
}

tr.sameUser {
  color: #03F;
}

#extract {
}

#stats{
  display: none;
}

#statsReport {
  background: #fff;
  margin-bottom: 20px;
}

#graph {
  width: 90%;
}

#graph .chart {
  width: 100%;
}

.chart .label {
  position: absolute;
  right: -30px;
  background-color: transparent;
  color: #000;
  top: 0;
  padding: 0;
}

footer {
  color: #aaa;
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
  margin-left: -20px;
  /*margin-right: -20px;*/
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}

.chart div {
  position: relative;
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  margin: 1px;
  color: white;
  padding: 0;
  height: 1.5em;
}

.getStats label {
  display: inline;
}

.donut {
  float: left;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
