/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
body {
    /*padding-top: 60px;*/
    font-size: 12px;
    background: #222;
}
a {
    cursor: pointer;
}

.nav {
    font-size: 12px;
}

ul.nav {
    font-size: 12px;
    margin-top: 0;
}

.navbar .brand {
    padding: 4px 10px 0;
    margin: 0;
}

.navbar .nav {
    padding: 0;
}

.navbar .btn-group .dropdown-menu::after {
  border: none;
}

#login {
  position: relative;
  top: 60px;
}

#login h1 {
  margin-bottom: 20px;
}

#login form {
}

#login label {

}

#login input {
  margin-bottom: 20px;
}

#login button {
  position: relative;
  bottom: 0;
  right: 0;
}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav .navbar-inner {
    padding: 0;
}

.sidebar-nav ul {
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    list-style-type: none;
    padding-left: 5px;
}

.sidebar-nav li li {
    list-style-type: none;
    padding-left: 5px;
    line-height: 1.1em;
    margin-bottom: 4px;
}

.sidebar-nav a {
  display: block;
}

.sidebar-nav a:visited {
  color: #33b5e5;
  text-decoration: none;
}

.btn-group > .btn {
    font-size: 12px;
    padding: 1px 6px;
    line-height: 17px;
}

#noty_top_layout_container li {
  background-image: -moz-linear-gradient(top, #fafafa, #e9e9e9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #fafafa, #e9e9e9);
  background-image: -o-linear-gradient(top, #fafafa, #e9e9e9);
  background-image: linear-gradient(to bottom, #fafafa, #e9e9e9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe9e9e9', GradientType=0);

}

.container-fluid {
    padding: 0;
}

.row-fluid .span3 {
    width: 23%;
    /*margin: 1% !important;*/
}

.user {
    /*width: 250px;*/
    margin: 1% !important;
    float: left;
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user.span8 {
    width: 800px;
}

.user.span12 {
    width: 100%;
    margin: 10px 0 !important;
}

.user h1 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 0;
}

.user .current {

}

.user .expand {
    float: right;
}

.user p {
    margin: 0;
}

.user .issues {
    margin: 10px 0 0;
    padding: 0;
    /*font-size: 13px;*/
    /*height: 0;*/
    /*display: none;*/
}

.user .issues ul {
    padding: 0;
    margin: 0;
}

.user .issues li {
    list-style-type: none;
    padding-left: 5px;
    line-height: 1.1em;
    margin-bottom: 1em;
    position: relative;
}

.user .issues li li {
    list-style-type: none;
    padding-left: 5px;
    line-height: 1.1em;
    margin-bottom: 4px;
}

.badge,
.issues span.priority,
.issues span.id,
.issues span.tracker,
.issues span.status,
.currentPriority.Bas,
.currentPriority.Normal,
.currentPriority.Haut,
.currentPriority.Urgent,
.currentPriority.Immédiat {
  padding: 1px 9px 2px;
  font-size: 1em;
  font-weight: normal;
  white-space: nowrap;
  color: #000;
  text-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
  background-color: #d5d3d3;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.showIssues.badge:hover {
  color: #000;
}

.issues span.priority,
.currentPriority.Bas,
.currentPriority.Normal,
.currentPriority.Haut,
.currentPriority.Urgent,
.currentPriority.Immédiat {
  font-weight: bold;
  color: #ffffff;
  background-color: #999999;
}

.issues span.id {
 -webkit-border-radius: 9px 0 0 9px;
  -moz-border-radius: 9px 0 0 9px;
  border-radius: 9px 0 0 9px;

  padding: 1px 5px 2px 9px;
  margin-right: 1px;
}

.issues span.tracker {
 -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  padding: 1px 5px 2px;
  margin-right: 1px;
}

.issues span.status {
 -webkit-border-radius: 0 9px 9px 0;
  -moz-border-radius: 0 9px 9px 0;
  border-radius: 0 9px 9px 0;

  padding: 1px 9px 2px 5px;
  margin-right: 5px;
}

span.priority.Bas {
    background-color: #468847;
}

span.priority.Normal {
    background-color: #2D6987;
}

span.priority.Haut {
    background-color: #F89406;
}

span.priority.Urgent {
    background-color: #953B39;
}

span.priority.Immédiat {
    background-color: #1A1A1A;
}

.issue .info {
    margin: 10px 0;
}

.issue .project {
  margin-right: 5px;
}

.timer {
/*  display: none;
  position: absolute;
*/
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;

  /*top: -2px;*/
  padding: 1px 1px 3px 3px;
  /*margin-left: 5px;*/
  display: inline-block;
  margin-top: 6px;
}

/*.issue:hover .timer {
  display: inline-block;
}
*/

.timer span {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;

  background: #f5f5f5;
  top: -2px;
  padding: 0 2px 2px 4px;
  margin-left: 2px;
}

/*.issue .start,
.issue .pause,
.issue .stop {
  display: none;
}*/

/*.issue:hover .start,
.issue:hover .pause,
.issue:hover .stop {
  display: inline-block;
}*/

.timer .start:hover,
.timer .pause:hover,
.timer .stop:hover,
.timer .addtime:hover{
  cursor: pointer;
}

#addtime {
  top: 290px;
}

@media (max-width: 767px) {
  #addtime {
    top: 80px;
  }
}

.issueContent {
  display: none;
}

.issueContent p {
  margin-bottom: 10px;
}

.journal {
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/*
 *.ember-view {
 *  width: 100%;
 *  *zoom: 1;
 *}
 *.ember-view:before,
 *.ember-view:after {
 *  display: table;
 *  content: "";
 *}
 *.ember-view:after {
 *  clear: both;
 *}
 *.ember-view > [class*="span"] {
 *  float: left;
 *  margin-left: 2.127659574%;
 *}
 *.ember-view > [class*="span"]:first-child {
 *  margin-left: 0;
 *}
 *.ember-view > .span12 {
 *  width: 99.99999998999999%;
 *}
 *.ember-view > .span11 {
 *  width: 91.489361693%;
 *}
 *.ember-view > .span10 {
 *  width: 82.97872339599999%;
 *}
 *.ember-view > .span9 {
 *  width: 74.468085099%;
 *}
 *.ember-view > .span8 {
 *  width: 65.95744680199999%;
 *}
 *.ember-view > .span7 {
 *  width: 57.446808505%;
 *}
 *.ember-view > .span6 {
 *  width: 48.93617020799999%;
 *}
 *.ember-view > .span5 {
 *  width: 40.425531911%;
 *}
 *.ember-view > .span4 {
 *  width: 31.914893614%;
 *}
 *.ember-view > .span3 {
 *  width: 23.404255317%;
 *}
 *.ember-view > .span2 {
 *  width: 14.89361702%;
 *}
 *.ember-view > .span1 {
 *  width: 6.382978723%;
 *}
 */

th {
  text-align: center;
}

th,
td {
  border: solid 1px #AAA;
  padding: 3px 0.5em;
}

tr.excluded {
  background-color: #FD9C9C;
}

tr.excluded.directClose {
  background-color: #f00;
  font-weight: bold;
}

tr.sameUser {
  color: #03F;
}

#extract {
}

#stats{
  display: none;
}

#statsReport {
  background: #fff;
  margin-bottom: 20px;
}

#graph {
  width: 90%;
}

#graph .chart {
  width: 100%;
}

.chart .label {
  position: absolute;
  right: -30px;
  background-color: transparent;
  color: #000;
  top: 0;
  padding: 0;
}

footer {
  color: #aaa;
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
  margin-left: -20px;
  /*margin-right: -20px;*/
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}

.chart div {
  position: relative;
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  margin: 1px;
  color: white;
  padding: 0;
  height: 1.5em;
}

.getStats label {
  display: inline;
}

.donut {
  float: left;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
