<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>RealTeam</title>

    <!-- Included CSS Files (Compressed) -->
    <link rel='stylesheet' href='css/h5bp-head.css'>
    <link rel='stylesheet' href='css/bootstrap-cyborg.css'>
    <link rel='stylesheet' href='css/style.css'>
    <link rel='stylesheet' href='css/bootstrap-responsive.css'>
    <link rel='stylesheet' href='css/h5bp-foot.css'>
  </head>
  <body>

    <script type="text/x-handlebars" data-template-name="application">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            {{ template "currentuser" }}
          </div>
        </div>
        <div class="row-fluid">
          <!--<div class="span12">-->
            {{ outlet }}
          <!--</div>-->
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="currentuser">
      {{#with RealTeam.currentuser}}
        <!--<div class="well span12">-->
          <div class="well">
            <p>{{firstname}} {{lastname}} {{mail}}
              {{#if hasAddtime}}

                {{#with currentIssue}}
                  {{view Ember.TextField valueBinding="id" id="id"}}
                  {{view Ember.TextField valueBinding="hours" id="hours"}}
                  {{view Ember.TextField valueBinding="minutes" id="minutes"}}
                  {{view Ember.TextField valueBinding="message" id="message"}}
                  <!--<input {{bindAttr value="id"}} type="text" name="id" id="id" />-->
                  <!--<input {{bindAttr value="hours"}} type="text" name="hours" id="hours"/>-->
                  <!--<input {{bindAttr value="minutes"}} type="text" name="minutes" id="minutes"/>-->
                  <!--<input {{bindAttr value="startedAt"}} type="text" name="startedAt" id="startedAt" />-->
                  <button class="btn btn-small" {{action "addTime"}}>addTime</button>
                  <button class="btn btn-small" {{action "cancelTime"}}>cancel</button>
                {{/with}}
              {{else}}
                {{#with currentIssue}}
                  {{id}}
                  {{issueStatus}}
                  {{pendingDuration}}
                  {{issueName}}
                  {{startedAt}}
                  <button class="btn btn-small" {{action "pause"}}>pause</button>
                  <button class="btn btn-small" {{action "stop"}}>stop</button>
                {{/with}}
              {{/if}}
            </p>
          </div>
        <!--</div>-->
      {{/with}}
    </script>

    <script type="text/x-handlebars" data-template-name="index">
      <!--<div class="row-fluid">-->
        <!--<div id="users" class="span12">-->
          {{ template "team"}}
        <!--</div>-->
      <!--</div>-->
    </script>

    <script type="text/x-handlebars" data-template-name="team">
      {{#each user in controller}}
        <div class="span4">
          <div class="well">
            <p>{{#linkTo "user" user}}{{ user.name }} {{ user.issuesCount }}{{/linkTo}}</p>
            <p>{{user.current}}</p>
          </div>
        </div>
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="users">
      <div class="row-fluid">
        <div id="users" class="span2">
          {{ template "userMenu"}}
        </div>

        <div id="user" class="span10">
          {{outlet}}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="userMenu">
      <div class="sidebar-nav navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
          {{#each user in controller}}
            <li>
              {{#linkTo "user" user}}{{ user.id }} {{ user.name }} ({{ user.issuesCount }})<br />
              {{user.current}}
              {{/linkTo}}
            </li>
          {{/each}}
          </ul>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="user">
      <h2>user <span>{{name}} {{issuesCount}}</span></h2>
      {{#each issue in issues}}
        {{template "issue"}}
      {{else}}
        <p>No issues.</p>
      {{/each}}
      {{! render "issues"  issues }}
    </script>

    <script type="text/x-handlebars" data-template-name="issues">
      <div class="row-fluid">
        <div id="users" class="span12">
          {{#each issue in controller}}
            {{template "issue"}}
          {{else}}
            <p>... Fetching issues ...</p>
          {{/each}}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="issue">
      <div class="issue well">
        <a {{bindAttr href="issue.url"}} target="_blank">{{issue.id}} {{issue.subject}}</a>
        <button class="btn btn-small" {{action "start" issue}}>start</button>
      </div>
    </script>

    <!--
       -<script type="text/x-handlebars" data-template-name="issues">
       -  <ul id="customer-issues">
       -    {{#each issue in issues}}
       -      <li>
       -        <p>{{issue.subject}}</p>
       -        <p>{{issue.url}}</p>
       -      </li>
       -    {{else}}
       -      <li>
       -        <p>No issues</p>
       -      </li>
       -    {{/each}}
       -  </ul>
       -</script>
       -->


    <script src="/socket.io/socket.io.js"></script>
    <script src="js/lib/jquery-1.9.1.min.js"></script>
    <script src="js/lib/ember/handlebars-1.0.rc.3.js"></script>
    <script src="js/lib/ember/ember-1.0.0-rc.2.js"></script>
    <script src="js/lib/ember/ember-data.js"></script>

    <script src="/js/app-ember/main.js"></script>
    <script src="/js/app-ember/socket.js"></script>
    <script src="/js/app-ember/routes/app-router.js"></script>
    <script src="/js/app-ember/controllers/application-controller.js"></script>
    <script src="/js/app-ember/controllers/currentuser-controller.js"></script>
    <script src="/js/app-ember/controllers/user-controller.js"></script>
    <script src="/js/app-ember/controllers/issue-controller.js"></script>
    <script src="/js/app-ember/store.js"></script>
    <script src="/js/app-ember/models/application-model.js"></script>
    <script src="/js/app-ember/models/currentuser-model.js"></script>
    <script src="/js/app-ember/models/user-model.js"></script>
    <script src="/js/app-ember/models/issue-model.js"></script>

    <script src="/js/app-ember/views/application-view.js"></script>
    <script src="/js/app-ember/views/user-view.js"></script>

    <!--<script src="/js/app-ember/helpers/issuesCount.js"></script>-->

    <!--<script src="js/app-ember/app.js"></script>-->
  </body>
</html>
